/* Fonts */
* {
    color:  red;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.sans, .sans * {
      font-family: var(--system-ui);
}

.serif, .serif * {
    font-family: serif;
}

.sans-and-serif, .sans-and-serif * {
    font-family: var(--system-ui);
}

.sans-and-serif h1, .sans-and-serif h2, .sans-and-serif h3, .sans-and-serif h4, .sans-and-serif h5, .sans-and-serif h6 {
    font-family: serif;
}

.serif-and-sans, .serif-and-sans * {
    font-family: serif;
}

.serif-and-sans h1, .serif-and-sans h2, .serif-and-sans h3, .serif-and-sans h4, .serif-and-sans h5, .serif-and-sans h6 {
    font-family: var(--system-ui);
}

