/* Typography */
* {
    color: var(--color-primary);
}

h1,
h2 {
    margin-bottom: var(--gap);
    margin-top: calc(var(--gap) * 2);
}

h3,
h4,
h5 {
    margin-top: var(--gap);

}

h1 {
    font-size: var(--size-xl);
    font-weight: lighter;
}

h2 {
    font-size: var(--size-lg);
    font-weight: lighter;
    text-transform: capitalize;
}


h3 {
    font-size: var(--size-md);
}


p {
    font-size: var(--size-base);
    line-height: 1.8;
    margin-top: var(--size-base);
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a:hover {
    color: var(--color-secondary);
    text-decoration-line: none;
}

blockquote {
    color: var(--color-primary);
    font-size: var(--size-md);    
}

ul, dl {
    margin-top: 1rem;
}

li, dt {
    font-size: 1rem;
    margin-top: 0.6rem;

    list-style-type: none;
}

dd {
    margin-top: 0.4em;
    margin-left: 3rem;
}


button {
    background-color: var(--color-primary);
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

button span {
    color: var(--color-secondary);
}

button:hover {
    background-color: var(--color-secondary);
    border: solid 2px var(--color-variant-4);
}

button:hover span {
    color: var(--color-primary);
}

strong, .bold {
    font-weight: bold;
}