img {
    max-width: 100%;
    height: auto;
}

.wfull, .w-full {
    width: 100%;
}

.whalf, .w-half  {
    width: 50%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.shrink {
    flex-wrap: nowrap;
}
.shrink > * {
    display: block;
    min-width: 0;    /* Add this */
    flex-shrink: 1;
}

/* Layout */
.centered {
    margin-left: auto;
    margin-right: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 999;
}


.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 999;
}

/* Containers */
.container-xxl {
    max-width: 80em;
}

.container-xl {
    max-width: 60em;
}

.container-lg {
    max-width: 52em;
}

.container-md {
    max-width: 40em;
}

.container-sm {
    max-width: 28em;
}

.container-xs {
    max-width: 18em;
}
/* Flex multi-column layout */

[class*="duo"], [class*="trio"], [class*="quadri"]  {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    gap: var(--gap);
}

[class*="duo"] > * , [class*="trio"] > * , [class*="quadri"] > * {
    /* display: block; */
    width: 100%;
}

@media (min-width: 80em) {
    .duo-xxl > *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }
    
}

@media (min-width: 60em) {
    .duo-xl *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }
    
}

@media (min-width: 52em) {
    .duo-lg > *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }
    
}

@media (min-width: 40em) {
    .duo-md > *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }  
}

@media (min-width: 28em) {
    .duo-sm > *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }  
}

@media (min-width: 18em) {
    .duo-xs > *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }  
}

@media (min-width: 40em) {
    .duo-md > *{
        width: calc(50% - calc( var(--gap) / 2 ) );
    }  
}

@media (min-width: 80em) {
    .trio-xxl > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 60em) {
    .trio-xl > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 52em) {
    .trio-lg > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 40em) {
    .trio-md > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 28em) {
    .trio-sm > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 18em) {
    .trio-xs > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 40em) {
    .trio-md > *{
       width: calc( calc( 100% - var(--gap) * 2) / 3 );
    }
}

@media (min-width: 80em) {
    .quadri-xxl > *{
        width: calc( calc( 100% - var(--gap) * 3) / 4 );
    }
}

@media (min-width: 60em) {
    .quadri-xl > *{
        width: calc( calc( 100% - var(--gap) * 3) / 4 );
    }
}

@media (min-width: 52em) {
    .quadri-lg > *{
        width: calc( calc( 100% - var(--gap) * 3) / 4 );
    }
}

@media (min-width: 40em) {
    .quadri-md > *{
        width: calc( calc( 100% - var(--gap) * 3) / 4 );
    }
}

@media (min-width: 28em) {
    .quadri-sm > *{
        width: calc( calc( 100% - var(--gap) * 3) / 4 );
    }
}

@media (min-width: 18em) {
    .quadri-xs > *{
        width: calc( calc( 100% - var(--gap) * 3) / 4 );
    }
}

.gap-0 {
    --gap: 0rem;
}

.gap-1 {
   --gap: 1rem;
}

.gap-2 {
    --gap: 2rem;
 }

 .gap-3 {
    --gap: 3rem;
 }

 .gap-4 {
    --gap: 4rem;
 }


/* Text */
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Height */

.h-base {
    height: var(--space-base);
}

.h-md {
    height: var(--space-md);
}

.h-lg {
    height: var(--space-lg);
}

.h-xl {
    height: var(--space-xl);
}

.h-xxl {
    height: var(--space-xxl);
}

.h-auto {
    height: auto;
}

/* Width */
.w-base {
    width: var(--space-base);
}

.w-md {
    width: var(--space-md);
}

.w-lg {
    width: var(--space-lg);
}

.w-xl {
    width: var(--space-xl);
}

.w-xxl {
    width: var(--space-xxl);
}

.w-auto {
    width: auto;
}

/* Margins */

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-base {
    margin-bottom: var(--space-base);
}

.mb-md {
    margin-bottom: var(--space-md);
}

.mb-lg {
    margin-bottom: var(--space-lg);
}

.mb-xl {
    margin-bottom: var(--space-xl);
}

.mb-xxl {
    margin-bottom: var(--space-xxl);
}


.mt-0 {
    margin-top: 0;
}

.mt-base {
    margin-top: var(--space-base);
}

.mt-md {
    margin-top: var(--space-md);
}

.mt-lg {
    margin-top: var(--space-lg);
}

.mt-xl {
    margin-top: var(--space-xl);
}

.mt-xxl {
    margin-top: var(--space-xxl);
}

.ml-auto {
    margin-left: auto;
}

.ml-0 {
    margin-left: 0;
}

.ml-base {
    margin-left: var(--space-base);
}

.ml-md {
    margin-left: var(--space-md);
}

.ml-lg {
    margin-left: var(--space-lg);
}

.ml-xl {
    margin-left: var(--space-xl);
}

.ml-xxl {
    margin-left: var(--space-xxl);
}

.mr-auto {
    margin-right: auto;
}

.mr-0 {
    margin-right: 0;
}

.mr-tiny {
    margin-right: calc( var(--space-base) / 2);
}

.mr-base {
    margin-right: var(--space-base);
}

.mr-md {
    margin-right: var(--space-md);
}

.mr-lg {
    margin-right: var(--space-lg);
}

.mr-xl {
    margin-right: var(--space-xl);
}

.mr-xxl {
    margin-right: var(--space-xxl);
}

.mh-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mh-base {
    margin-top: var(--space-base);
    margin-bottom: var(--space-base);
}

.mh-md {
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);

}

.mh-lg {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);

}

.mh-xl {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);

}

.mh-xxl {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);

}

.mw-0 {
    margin-left: 0;
    margin-right: 0;
}

.mw-base {
    margin-left: var(--space-base);
    margin-right: var(--space-base);
}

.mw-md {
    margin-left: var(--space-md);
    margin-right: var(--space-md);

}

.mw-lg {
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);

}

.mw-xl {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);

}

.mw-xxl {
    margin-left: var(--space-xxl);
    margin-right: var(--space-xxl);

}

/* Paddings */
.p-0 {
    padding: 0;
}

.pb-base {
    padding-bottom: var(--space-base);
}

.pb-md {
    padding-bottom: var(--space-md);
}

.pb-lg {
    padding-bottom: var(--space-lg);
}

.pb-xl {
    padding-bottom: var(--space-xl);
}


.pt-base {
    padding-top: var(--space-base);
}

.pt-md {
    padding-top: var(--space-md);
}

.pt-lg {
    padding-top: var(--space-lg);
}

.pt-xl {
    padding-top: var(--space-xl);
}

.pt-xxl {
    padding-top: var(--space-xxl);
}




.ph-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.ph-base {
    padding-top: var(--space-base);
    padding-bottom: var(--space-base);
}

.ph-md {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);

}

.ph-lg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);

}

.ph-xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);

}

.ph-xxl {
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);

}

.pw-0 {
    padding-left: 0;
    padding-right: 0;
}

.pw-base {
    padding-left: var(--space-base);
    padding-right: var(--space-base);
}

.pw-md {
    padding-left: var(--space-md);
    padding-right: var(--space-md);

}

.pw-lg {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);

}

.pw-xl {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);

}

.pw-xxl {
    padding-left: var(--space-xxl);
    padding-right: var(--space-xxl);

}


/* corners */

.rounded-sm {
    border-radius: 8px;
}

.rounded-md {
    border-radius: 1em;
}

.rounded-lg {
    border-radius: 2em;
}

/* Round the top-left corner of the first header cell */

table.rounded-sm {
        border-radius: 6px;
}

table.rounded-sm thead th:first-child {

        border-top-left-radius: 6px;
}

table.rounded-sm thead th:last-child {
    border-top-right-radius: 6px;
}

table.rounded-md {
        border-radius: 1em;
        -moz-border-radius: 1em;
}

table.rounded-lg {
        border-radius: 2em;
        -moz-border-radius: 2em;
}
*


/* typography */

.text-justify {
    text-align: justify;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto; /* optional fallback */
    overflow-wrap: break-word; /* safer line breaking */

    /* Nonstandard, safe to include */
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;

    text-align-last: left; 
    text-wrap: balance;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* lists */


ul.list-style-type-none {
  list-style-type: none;
}

/* tables */

table.table-head-shaded thead {
    background-color: var(--color-primary-lighter);
}

.dark-mode table.table-head-shaded thead {
    background-color: var(--color-primary-lighter-dm);
}


table.alternate tr:nth-child(even) * {
    background-color: var(--color-primary-lighter-2);
}

.dark-mode table.alternate tr:nth-child(even) * {
    background-color: var(--color-primary-lighter-dm-2);
}