header, .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header ul {
	margin:  0;
	padding:  0;
}

header ul li {
	display: inline;
	margin-left: var(--space-base);
}