@media (min-width: 18em) {
    :root {
     --size-base: 0.9rem;
     --size-md: 1.4rem;
     --size-lg: 1.4rem;
     --size-xl: 2rem;
     --size-xxl: 3rem;
    }
 }

 @media (min-width: 28em) {
     :root {
     --size-base: 0.9rem;
     --size-md: 1.2rem;
     --size-lg: 1.8rem;
     --size-xl: 2.4rem;
     --size-xxl: 4.6rem;
 }
 }

 @media (min-width: 38em) {
    :root { --size-base: 0.9rem;
     --size-md: 1.6rem;
     --size-lg: 2rem;
     --size-xl: 3rem;
     --size-xxl: 5.4rem;}

 }

 @media (min-width: 52em) {
     :root {--size-base: 1rem;
     --size-md: 2rem;
     --size-lg: 2.4rem;
     --size-xl: 3rem;
     --size-xxl: 7rem;}

 }