elt-meta, elt-date, elt-data, elt-template, elt-post, elt-post-link {
    display: block;
}

nav a:nth-child(2) {
    margin-left: auto;
}

nav a {
    margin-right: .8rem;
}

blockquote p code {
    color: red;
}