---
import BaseLayout from "../layouts/baselayout.astro";
import AllPosts from "../components/posts.astro";
---
    <BaseLayout>
      <h1 class="title">Blog Name</h1>
      <p><strong>There's been an error with your email submission!</strong></p>
  
      <AllPosts />
    
    </BaseLayout>

